* {
    scrollbar-width: thin;
    scrollbar-color: gray lightgray;
}

.ant-btn-primary {
    background-color: red;
}

/* Webkit css */
/* webkit scrollbar compatible with Chrome, Edge, Opera, Safari */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: lightgray;
    border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 20px;
}