.footer-container {
    position: relative;
    background-color: black !important;
    width: 100%;
    height: 4rem;
    padding: 0 !important;
}

.footer-mobile {
    display: none;
}

.footer-background {
    width: 80%;
    text-align: center;
    margin: auto;
}

.footer-background a {
    color: white;
    text-decoration: underline;
}

@media screen and (max-width: 620px) {
    .footer-container {
        height: fit-content;
    }

    .footer-pc {
        display: none;
    }

    .footer-mobile {
        display: flex;
        flex-direction: column;
        margin-block: 2rem;
        gap: 1rem;
    }
}